<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="TestSharp::WebHostHelper::WebDevWebServerPath" value="C:\Program Files\Common Files\microsoft shared\DevServer\10.0\WebDev.WebServer40.EXE"/>
	</appSettings>
	 <system.net>
	    <defaultProxy>
	      <proxy bypassonlocal="true"
	      />
	    </defaultProxy>
  </system.net>
</configuration>
